<section class="bg-one about section">
				<!-- section title -->
					<div class="title text-center">
						<h2 align="center">About <span class="color">Us</span> </h2>
						<div class="border"></div>
					</div><br /><br />
					<!-- /section title -->
</section>
		
            <div class="col-md-9 col-md-offset-3 text-left AbtCompany2-a wow fadeInLeft">
            <p>Digital Square is an organization which provides full - cycle services in the field of Web Development, Software Development, Web Application Development,IOT applications Development,Fire Alarm services, Security Solutions and Offline Development.</p>
            <img src="assets/img/abt-img1.jpg" alt="">
            <p>In contribution to our technical expertise, profound knowledge of latest industry trends, Quality - Driven Model and Solid Business Domain Experience, we provide end to end web solutions which are checked for quality at each step of the development process. With the combination of experience and knowledge of our team you can trust on our team for delivering you what your project demands. Our proficiency shows that we can deliver you the project which suites your budget and maintaining the time limit specified.</p>
            <p>Here at Dkigital Square, we take each project as with full commitment and perseverance and is considered as a challenge at every step. Each and every individual of the organization works with full consideration and plays an unparalleled role in delivering the best product or imparting the desired services.</p>
            <p>From Online Solutions to Offline Solutions and Business Consultancy, We provide wide wave length of services to suit your needs and requirements.</p>
            <p>We assist you to gain a competitive edge by continuously improving your web based business CRM solutions. Digital Square is a technology neutral solution provider; we can develop and integrate solutions across a broad range of technologies.</p>
            </div>
        
