<header>
  <div class="container">
    <a routerLink="/" class="logo"><img src="assets/img/logo.jpg"></a>
    <nav>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/service">Services</a></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/team">Our Team</a></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio">Portfolio</a></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact us</a></li>
      </ul>
    </nav>
  </div>
</header>



