  <section>
        <div align="center">
            <div>
                <h1>
				Electronic Security System</h1>
            </div>
        </div><!--/.container-->
    </section><!--/#main-banner--> 
	
    

	<!------ content starts Section ------->
	       <div class="row">
                     <div align="middle">
					<p> </p><br/>
					</div>
					
                    
                    <div align="middle">
                    
                    <h2>IP CCTV System</h2>
                   
                    <img src="assets/img/cctv.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br />  <br />
                        <p>An Internet Protocol camera, or IP camera, is a type of digital video camera that receives control data and sends image data via the Internet. They are commonly used for surveillance. Unlike analog closed-circuit television (CCTV) cameras, they require no local recording device, but only a local area network.</p> <br/>
                     <!--h3>IP CCTV BENEFITS:</h3>
                    <li>Superior image quality enables the user to more closely follow the details and changes in images</li>
                    <li>Option to access real time video any time from any authorized computer, anywhere</li>
                    <li>Easy future proof integration and scalability</li>
                    <li>Efficient centralized management system reduces the maintenance cost</li>
                    <li>Multi-user access is possible as many people can view simultaneously at different geographical locations</li>
                    <li>Mega pixel camera can replace multiple analog cameras, reducing total cost of ownership</li>      
                         
                         <br /><br /><br><br-->

                         <h2 align="middle">Analog CCTV System</h2><br><br>
                         <img src="assets/img/analog.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br />  <br />
                        <p>Analog CCTV cameras transfer the video signals in analog form (electrical signals), usually use coaxial cables for the cabling, and have the videos recorded by a DVR (Digital Video Recorder), where each single cctv camera is directly connected to the DVR.</p> <br>
                          <!--h3>Analog CCTV BENEFITS:</h3><br>
                    <li>Easy to use, cost effective and low on maintenance</li>
                    <li>wide variety of cameras supported for all kinds of applications</li>
                    <li>Trusted CCTV solution used world wide</li>
                    <li>Less and inexpensive hard disk drive (HDD) requirement to store video</li>
                    <li>Tamper proof design with closed system architecture</li>
                    <li>Readily available with standard output interfaces</li>  
                         </div><br /><br /-->

                    <div align="middle">
					<h2>Access Control</h2> <br />
                     <img src="assets/img/bio.jpg" class="ResponsivImg" style="max-width:400px;" alt=""> <br /> <br />
                   <p>Access control is a way of limiting access to a system or to physical or virtual resources. In computing, access control is a process by which users are granted access and certain privileges to systems, resources or information.</p><br/>
                    
                        
                        </div><br /><br />
                        
                    <div align="middle">
                    <h2>Entrance Mangement</h2> <br />
                     <img src="assets/img/entrance.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br /> <br />
                     <p>Pedestrian access control systems enable controlled and secure access to areas defined by the operators. They can be used for access control at entrances to office and administrative buildings, industrial installations, banks, authorities and many other places.</p>
                                           </div><br/><br/>
                    
                       
                    <div align="middle">
                    <h2>Boom Barriers</h2><br/> <br />
                     
                     <img src="assets/img/boom.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br /> <br />
           <p>Automatic boom barrier offers security at the exit and the entry points of industrial unit, offices, corporate houses, residential areas, parking lots, toll tax plazas etc. Automatic barrier can be used to successfully control pedestrian and vehicle traffic. It can be used achieve better security.</p><br>
            <!---h3>BENEFITS</h3>
                <li>High torque motor: Long lasting motor that generates up to 600Nm torque.</li>
                <li>Smooth operation: No bounce/jerk of boom at end positions.</li>
                <li>Better visibility: White aluminum boom bar with reflective strips and RAL 2005 powder coated housing.</li>
                <li>IP54 protection: Control unit is IP - protected making it dust and water resistant.</li>
                <li>Optical beam sensor: Safety device to detect presence of vehicles and reversal of boom movement.</li>
                <li>Access control operation: Boom barrier operated through push button switch and can also be operated through access control system.</li>
                    </div><br /> <br /--->
                      
                      <div align="middle">
                    <h2>Guard Monitoring System</h2> <br />
                     <img src="assets/img/guard2.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br /> <br />
           <p>A guard tour system is a system used to help companies and organizations to organize, 
                    log and execute guard tours and patrols in their assets ensuring that the officers will accomplish their tasks within the predefined time intervals.</p><br>
                      <!--h3>BENEFITS:</h3>
<li> Commercial, durable products with high quality and advanced technology</li>

<li> Easy operating c. Low battery consumption, long life span</li>

<li> Intelligent guard tour system; make guard tour job more efficient and accurate</li>

<li> Ideal for applications in many areas</li>

           
                    </div><br /><br /-->

                    
	<!------ content end Section ------->
		<!-- end Contact Area
		========================================== -->
