  <section>
        <div align="center">
            <div>
                <h1>
               Fire Alarm System</h1><br/><br/>
            </div>
        </div><!--/.container-->
    </section><!--/#main-banner--> 
    
    

    <!------ content starts Section ------->

           <div class="row">
            <div align="middle">
                    
                   <p>It can also referred as a detection and alarming system as it gives an alarming alert to concern on detection of interruption or suspicion happening on a protected area or facility.</p>
                    </div><br/>
                    <div align="middle">
                    
                    <h2>Emergency Lightring</h2>
                    <p>An emergency light is a battery-backed lighting device that switches on automatically when a building experiences a power outage. Emergency lights are standard in new commercial and high occupancy residential buildings, such as college dormitories, apartments, and hotels. Most building codes require that they be installed in older buildings as well.</p> <br /> 

                     <img src="assets/img/emergency.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br /><br /></div>

                    <div align="middle">
                    <h2>Fire Saftey Signs</h2>
                     <p>Fire Fighting Equipment Signs. These signs are used to mark the location of fire fighting equipment and fire alarm activation points.The Health and Safety (Safety Signs and Signals) Regulations 1996, require red to be used as the identifying colour for fire fighting equipment. </p><br />

                         <img src="assets/img/signs.jpg" class="ResponsivImg" style="max-width:400px;" alt=""> <br /><br /></div>
                   
                    <div align="middle">
                    <h2>Portable Fire Extiguisher</h2>
                    
                        <p>A fire extinguisher is an active fire protection device used to extinguish or control small fires, often in emergency situations. It is not intended for use on an out-of-control fire, such as one which has reached the ceiling, endangers the user  or otherwise requires the expertise of a fire brigade. Typically, a fire extinguisher consists of a hand-held cylindrical pressure vessel containing an agent which can be discharged to extinguish a fire. Fire extinguishers manufactured with non-cylindrical pressure vessels also exist but are less common. </p>                        
                        <img src="assets/img/stored.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br /><br />
                         <p>Cartridge-operated extinguishers contain the expellant gas in a separate cartridge that is punctured prior to discharge, exposing the propellant to the extinguishing agent. This type is not as common, used primarily in areas such as industrial facilities, where they receive higher-than-average use. </p>

                         <img src="assets/img/c.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br /><br />
                        </div>
                    <div align="middle">
                    <h2>Heat Detector</h2>
                      <p>A heat detector is a fire alarm device designed to respond when the convected thermal energy of a fire increases the temperature of a heat sensitive element. The thermal mass and conductivity of the element regulate the rate flow of heat into the element. All heat detectors have this thermal lag. Heat detectors have two main classifications of operation, "rate-of-rise" and "fixed temperature". The heat detector is used to help in the reduction of damaged property. It is triggered when temperature increases.</p><br />
                    
                    <img src="assets/img/heat.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br /><br /></div>

                    <div align="middle">
                    <h2>Optical Smoke Dectector</h2>
                        <p>A smoke detector is a device that senses smoke, typically as an indicator of fire. Commercial security devices issue a signal to a fire alarm control panel as part of a fire alarm system, while household smoke detectors, also known as smoke alarms, generally issue a local audible or visual alarm from the detector itself.</p>
                       <br />
                      <img src="assets/img/smoke.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br /> <br /></div>
                        
                         <div align="middle">
                    <h2>Conventional or Analogue Addressable</h2><br/>
                       <h3>Conventional Addressable</h3>
                <p>Conventional. Conventional detectors are simply on/off devices - if there is no smoke or heat they do nothing. If there is a certain, pre-set level of smoke or heat, they switch into the 'Alarm' state. Devices are connected to one circuit, known as a zone, and each circuit is connected to a control panel.</p>
                       <br />

                      <img src="assets/img/conventional.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br /> <br />

                      <h3>Analogue Addressable</h3>
                <p>Analog Addressable. Analog addressable devices are individually identified with an address (number) on a loop of wiring. The control panel communicates with each device in turn and each device reports back with an analog value based upon how much smoke or heat is present.</p>
                <img src="assets/img/ana.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br /><br /></div>

                <div align="middle">
                    <h2>Control Panel</h2>
                        <p>The control panel, in the context of Windows, is a software module used to perform administrative and management operating system tasks and/or provide access to specific software features. </p>
                       <br />
                      <img src="assets/img/control.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br /> <br /></div>

           </div>
    <!------ content end Section ------->
        <!-- end Contact Area
        ========================================== -->
  
