  <section>
        <div align="center">
            <div>
                <h1>
				Automation System</h1>
            </div>
        </div><!--/.container-->
    </section><!--/#main-banner--> 
	
    

	<!------ content starts Section ------->


         <div class="row">
                     <div align="middle">
					<p>Automated system operations is the set of software and hardware that allows computer systems, network devices or machines to function without any manual intervention. </p><br/>
					</div>
					
                    
                    <div align="middle">
                    
                    <h2>Lighting Control</h2>
                   
                    <img src="assets/img/lighting.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br />  <br />
                        <p>A lighting control system is an intelligent network of lighting controls which allows you to have control of the lights in a space. There are various types of lighting control systems available to you depending on your needs and desires.  A normal switch in your home that switches a light on and off is a form of lighting control. Your driveway flood lights that turn on when it detects  motion as someone pulls up to your house is also a form of lighting control.</p> 
                         
                         </div><br /><br />

                    <div align="middle">
					<h2>Temparature Control</h2> <br />
                     <img src="assets/img/temp.png" class="ResponsivImg" style="max-width:400px;" alt=""> <br /> <br />
                    <p>Temperature control is a process in which change of temperature of a space (and objects collectively there within), or of a substance, is measured or otherwise detected, and the passage of heat energy into or out of the space or substance is adjusted to achieve a desired temperature.</p>
                   
                        
                        </div><br /><br />
                        
                    <div align="middle">
                    <h2>Board Room Solution</h2> <br />
                     <img src="assets/img/board.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br /> <br />
                    <p>Boardroom solutions have evolved far beyond the touchpanel and control system, becoming the definitive source for centrally and globally controlling, managing and presenting information. Control and automate the lights, drapes, screens, thermostats and AV equipment – all from an intuitive easy-to-use touchpanel, remote or custom keypad. Let us take control of the technology so you can focus on your meetings. </p>
                   <br /><br/>
                        </div>
                    
                       
                    <div align="middle">
                    <h2>Control Audio and Video Equipments</h2><br/> <br />
                     <h3>Audio Equipments</h3> <br />
                     <img src="assets/img/audio.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br /> <br />
            <p>Audio equipment refers to devices that reproduce, record, or process sound. This includes microphones, radio receivers, AV receivers, CD players, tape recorders, amplifiers, mixing consoles, effects units, and loudspeakers.</p>
                    <br />
                      
                    <h3>Video Equipments</h3> <br />
                     <img src="assets/img/video.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br /> <br />
            <p>An audio and video equipment technician is someone who sets up and fixes audio and video equipment, such as televisions, stereo components, home theatre systems, video projectors and monitors, recording equipment, microphones, and speaker systems.</p>
           
                    </div><br /> <br />

                    
	<!------ content end Section ------->
		<!-- end Contact Area
		========================================== -->
