  <section>
        <div align="center">
            <div>
                <h1>
               Software Development</h1><br/><br/>
            </div>
        </div><!--/.container-->
    </section><!--/#main-banner--> 
    
    

    <!------ content starts Section ------->

           <div class="row">
            <div align="center">
                    <p>Custom software development is a premier web business solutions in building various domain specific websites.</p>
                    </div><br/>

                    <div align="middle">
                    
                    <h2>Angular</h2>
                    <p>AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly. AngularJS's data binding and dependency injection eliminate much of the code you would otherwise have to write.</p> <br /> 

                     <img src="assets/img/Angular1.png" class="ResponsivImg" style="max-width:400px;" alt=""><br /><br /></div>

                    <div align="middle">
                    <h2>Python</h2>
                     <p>Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace. It provides constructs that enable clear programming on both small and large scales. </p><br />

                         <img src="assets/img/python.jpg" class="ResponsivImg" style="max-width:400px;" alt=""> <br /><br /></div>
                   
                    <div align="middle">
                    <h2>Internent Of Things(IOT)</h2>
                    
                        <p>The internet of things, or IoT, is a system of interrelated computing devices, mechanical and digital machines, objects, animals or people that are provided with unique identifiers (UIDs) and the ability to transfer data over a network without requiring human-to-human or human-to-computer interaction. </p>                        
                        <img src="assets/img/iot.png" class="ResponsivImg" style="max-width:400px;" alt="">
                         
                        </div><br /><br />
                    <div align="middle">
                    <h2>Java</h2>
                      <p>Java is a general-purpose, concurrent, object-oriented, class-based, and the runtime environment(JRE) which consists of JVM which is the cornerstone of the Java platform. </p><br />
                    
                    <img src="assets/img/java.png" class="ResponsivImg" style="max-width:400px;" alt=""><br /><br /></div>

                    <div align="middle">
                    <h2>SpringBoot</h2>
                        <p>Spring Boot is a Spring framework module which provides RAD (Rapid Application Development) feature to the Spring framework. It is highly dependent on the starter templates feature which is very powerful and works flawlessly.</p>
                       <br />
                      <img src="assets/img/spring.jpg" class="ResponsivImg" style="max-width:400px;" alt=""><br /> <br /></div>
                        
                         

                

           </div>
    <!------ content end Section ------->
        <!-- end Contact Area
        ========================================== -->
  
